<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aguhon">
        <activity
            android:name="main.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="main.LandingActivity"/>
        <activity android:name="main.CreateAccountActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="main.CreateStudentAccountActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="main.CreateEditScheduleActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="main.CreateAnnouncementActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="main.AnnouncementDetailsActivity"/>
        <activity android:name="main.AccountViewActivity"/>
        <activity android:name="main.ScheduleViewActivity"/>
        <activity android:name="main.HistoryViewActivity"/>
        <activity android:name="main.ForgotPasswordActivity"/>
        <activity android:name="main.DashboardActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name="main.AccountDetailsActivity"/>
        <activity android:name="main.ScheduleDetailsActivity"/>
        <activity android:name="main.ViewActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>