:root {
}

.background {
    background-color: rgb(135, 135, 135);
}

.inner {
    background-color: rgb(173, 173, 173);
}

.note-bar {
    padding-top: 25px;
    padding-bottom: 25px;
    border-left-color: rgb(132, 134, 140);
    border-right-color: rgb(132, 134, 140);
    border-top-color: rgb(118, 118, 118);
    border-bottom-color: rgb(118, 118, 118);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    margin-top: 15px;
    margin-right: 85px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.note-bar-text {
    font-size: 34px;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    margin-left: 35px;
    margin-right: 0;
}

.exit {
}
