:root {
}

.key {
    justify-content: center;
    align-self: center;
    max-width: none;
    max-height: 100%;
    aspect-ratio: 1;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-left-color: rgb(138, 144, 147);
    border-right-color: rgb(138, 143, 147);
    border-top-color: rgb(158, 164, 168);
    border-bottom-color: rgb(158, 164, 168);
    align-items: center;
    height: 100%;
    width: auto;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.key-text {
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    font-size: 60px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.row {
    max-height: 20%;
    min-height: 20%;
    height: 20%;
    flex-direction: row;
}
