

*{
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    margin: 0;
    font-family: 'Times New Roman';
}
#navOffset{
    height: 60px;
    width: 100%;
    background-color: black;
    
    z-index: 2;
}
#navContainer{
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(240, 206, 144);
    z-index: 0;
}
#navBar{
    top: 0;
    padding-inline: auto;
    z-index: 1;
    
}
#navBar, #navBar ul{
    margin: 0px;
    font-size: 15px;
    padding: 0 13%;
    list-style: none;
}
.mainList{
    opacity: 0.9;
}
.mainList, .navUl li ul, .navUl li ul li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    float: left;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(240, 206, 144);
    line-height: 40px;
}
.navUl li ul{
    line-height: 50px;
    width: 100%;
    height: 50px;
}
.navUl li ul li{
    line-height: 50px;
    width: 100%;
    height: 50px;
}
.mainList{
    line-height: 50px;
    width: 12%;
    height: 50px;
}
a{
    text-decoration: none;
    /*color: rgb(145, 144, 144);*/
}
.navUl li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#sub1{
    width: 73%;
    margin-left: 200%;
}
#sub2{
    position: absolute;
    left: -17.7%;
    width: 109.7%;
}
.ayusin{
    position: absolute;
    width: 123.7%;
    left: -12%;
    background-color: rgb(240, 206, 144);
}
.navUl li a:hover {
    color: white;
    transition-duration: 300ms;
}
.navUl li ul {
    display: none;
}
.navUl li:hover > ul {
   display: block;
   animation-name: dropDown; 
   animation-duration: 200ms;
   transform-origin: top center;
}
.subNavUl li:hover > ul {
    animation-duration: 300ms;
 }
@keyframes dropDown {
    from {
        transform: scaleY(0)
    }
    to {
        transform: scaleY(1)
    }
}
.navUL{
    font-weight: 400;
}
/*******************************************************************/
#titleHeader{
    position: absolute;
    color: white;
    left: 100;
    top: -6;
}
#logoImg{
    position: absolute;
    top : 3;
    left: 250;
    width: 50;
    filter: invert();
}
#accLogo{
    width: 95%;
    margin-top: 5px;
    margin-right: 40px;
}
#loginNav{
    color: transparent;
    margin-top: 1.2px;
    margin-right: 5%;
    width: 40px;
    float: right;
    
}
.arrowUp{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom:12px solid rgb(255, 255, 255);
    margin-left: 29%;
    z-index: 100;
    display: none;
    position: absolute;
    right: 5.8%;

}
#loginNav li ul{
    /*ere yung dropdown*/
    position: absolute;
    /*display: none;*/
    /*none to*/
    background-color: white;
    top: 50;
    right : 4%; 
    line-height: 40px;
}
#loginNav li ul a{
    color: black;
    padding-right: 25px;
}
#loginNav li ul a:hover{
    text-decoration: underline;
    text-underline-offset: 1.5px;
    transition-duration: 200ms;
}
#loginNav ul{
    list-style: none;
    display: none;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}
#loginNav li:hover >ul, #loginNav li:hover > .arrowUp{

    display: block;
    animation: dropDown 300ms;
    transform-origin: top center;
}
#hoverProfile{
    width: 70;height: 100;position: absolute; right: 60;
}
#hoverProfile:hover{
    #loginNav li >ul, #loginNav li > .arrowUp{

        display: block;
        animation: dropDown 300ms;
        transform-origin: top center;
    }
}

#loginNav li:hover > .arrowUp{animation: dropDown 100ms;}
   
  @-webkit-keyframes fade { 
    from {opacity: .4}  
    to {opacity: 1} 
  } 
   
  @keyframes fade { 
    from {opacity: .4}  
    to {opacity: 1} 
  }
   
  /* On smaller screens, decrease text size */ 
  @media only screen and (max-width: 300px) { 
    .prev, .next,.text {font-size: 11px} 
  }

  /**********************Log Out Pop Up***************************************/

.popUp{
    display: none;
    position: fixed;
    width: 380px;
    height: 250px;
    background-color: white;
    margin-left: 50%;
    translate: -50%;
    margin-top: 10%;
    z-index: 1;
}
.setVisible{
    display: block;
}
.popUp *{
    display: block;
    margin-inline: auto;
    text-align: center;
}
.logOutOption{
    cursor: pointer;
    width: 85%;
    height: 13%;
    margin-block: 5px;
    font-weight: 500;
    border: solid black 1px; border-radius: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 1000;
}
.logOutOption:hover{
    background-color: white;
    color: black;
    transition-duration: 300ms;
}
#logOutHead{margin-top: 30px; font-size: 23;}
#logOutSub{
    height: 40px;
}
/****************************back to top******************************/
.backToTopBtn{
    width: 52px;
    height: 52px;
    cursor: pointer;
    position: fixed;
    right:5%;
    top: 600px;
    border-radius: 100%;
    background-color: transparent;
    z-index: 1;
    border: solid black 1px;
}
.backToTopBtn:hover{
    background-color: white;
    filter: invert();
    border-color: white;
    width: 55px;
    height: 55px;
    transition-duration: 200ms;
}
#backToTopImg{
    width: 25px;
    scale: 1 0.8;
}
#darkenScreen{
    display: none;
    position: absolute;
    opacity: 0;
    background-color: black;
    width: 100%;;
    height: 120%;
    z-index: 1;
}

/**********************other login**************************/
.subLogInNav{
    position: absolute;
    right: 28;
}
.subLogInNav #hoverProfile{width: 60; height: 50px; margin-right: -20;}
.subLogInNav *, .subLogInNav #hoverProfile{right: -16; margin-top: 1.4;}
.subLogInNav .arrowUp{margin-top: -1.4;}
#subAccLogo{
    width: 40px;
    position: relative;
    right: -27;
    background-color: transparent;
}

